docs/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SimpleServiceService" targetNamespace="http://demo.client.cxf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://demo.client.cxf/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://demo.client.cxf/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="simpleMethod1" type="tns:simpleMethod1"/>
            <xs:element name="simpleMethod1Response" type="tns:simpleMethod1Response"/>
            <xs:element name="simpleMethod2" type="tns:simpleMethod2"/>
            <xs:element name="simpleMethod2Response" type="tns:simpleMethod2Response"/>
            <xs:complexType name="simpleMethod2">
                <xs:sequence>
                    <xs:element minOccurs="0" name="simpleRequest" type="tns:simpleRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="simpleRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="simpleMethod2Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SimpleResponse" type="tns:simpleResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="simpleResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isOld" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="simpleMethod1">
                <xs:sequence>
                    <xs:element minOccurs="0" name="simpleRequest" type="tns:simpleRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="simpleMethod1Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SimpleResponse" type="tns:simpleResponse"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="simpleMethod1Response">
        <wsdl:part element="tns:simpleMethod1Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="simpleMethod2">
        <wsdl:part element="tns:simpleMethod2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="simpleMethod1">
        <wsdl:part element="tns:simpleMethod1" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="simpleMethod2Response">
        <wsdl:part element="tns:simpleMethod2Response" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SimpleService">
        <wsdl:operation name="simpleMethod2">
            <wsdl:input message="tns:simpleMethod2" name="simpleMethod2"/>
            <wsdl:output message="tns:simpleMethod2Response" name="simpleMethod2Response"/>
        </wsdl:operation>
        <wsdl:operation name="simpleMethod1">
            <wsdl:input message="tns:simpleMethod1" name="simpleMethod1"/>
            <wsdl:output message="tns:simpleMethod1Response" name="simpleMethod1Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleServiceServiceSoapBinding" type="tns:SimpleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="simpleMethod2">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="simpleMethod2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="simpleMethod2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="simpleMethod1">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="simpleMethod1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="simpleMethod1Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleServiceService">
        <wsdl:port binding="tns:SimpleServiceServiceSoapBinding" name="SimpleServicePort">
            <soap:address location="http://localhost:8080/services/simple"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>